/*GLOBAL*/

body{
    margin: 0;
    padding: 0;
    transition: all 2s;
}

.hide{
    display: none;
}


/*HEADER*/

header{
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #000;
    display: flex;
    position: fixed;
    top: 0;  
    z-index: 9;  
}

.site-menu{
    width: 100%;
    display: flex;
}

.site-menu a{
    text-decoration: none;
}

#site-logo{
    margin: 10px 0 0px 15px;
    width: 120px;
    transition: all 2s;
}

.site-menu .header-menu{
  position: absolute;
  left: 45%;
  top: 20px;
  transition: all 1s;
}



.menu-btn{
    border: none;
    background: none;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,sans;
    color: #000;
    transition: all 1s;
}

.login-menu{
    position: absolute;
    top: 20px;
    right: 70px;
}

/*DATE / TITLE*/

#container{
    display: flex;
    margin-top: 60px;
    height: 120px;
    width: 100%;
    position: relative;
    background-color: #000;
    justify-content: space-between;
}

.page-title{
    font-family: "Helvetica Neue",Helvetica,sans;
    font-size: 50px;
    color: #fff;
    margin: 20px 0 0 20px;
}

.page-slogan{
    color: #fff;
    font-size: 15px;
    font-family: "Helvetica Neue",Helvetica,sans;
    font-weight: 100;
    margin: 0px 0 0 20px;
}

.date{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 15px 20px 0 0;
}

.date #year{
    margin: 0;
}

.date #hour{
    margin: 10px 0 0 0;
}

.date #year,
.date #hour{
    background-color: #fff;
    color: #000;
    font-family: "Helvetica Neue",Helvetica,sans;
    font-size: 35px;
    font-weight: 600;
}







/*APP*/

main{
    margin: 40px 20px 20px 20px;
}

.semana{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.semana h2{
    cursor:pointer;
}

.box{
    padding:0 20px 0 20px ;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}



.taskList{
    padding-left: 0;

}

.weekday-title{
    font-size: 20px;
    font-family: "Helvetica Neue",Helvetica,sans;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    width: fit-content;
}

.weekday-title:hover{
    background-color: #000;
    color: #fff;
}


.item{
    display: flex;
    border-bottom: 1px solid rgb(187, 187, 187);
    padding: 10px 50px 2px 5px;
    margin: 2px 0;
    justify-content: space-between;
    line-height: 1.5;
    font-size: 14px;
    font-family: 'Yantramanav', sans-serif;
    position: relative;
    word-break: break-word;
    hyphens: auto;
}

li.change-style{
    border-bottom: 1px solid #000;
}

li.change-style button{
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: none;
}

.eraser{
    cursor: pointer;
    height: 25px;
    top:auto;
    right:0;
    bottom: 0;
    border: 1px solid rgb(187, 187, 187);
    border-bottom: none;
    font-family: "Helvetica Neue",Helvetica,sans;
    position:absolute;
    background:-webkit-linear-gradient(0deg,transparent 50%,#000 50%);
    background-size: 120px 25px;
    transition: 0.8s;
}

.eraser:hover{
    color: #fff;
    border: none;
    background-position: 60px 0;
}

.rainbowBtn{
    position: absolute;
    right: 15px;
    top: 191px;
    margin: 0 0 20px 0;
    cursor: pointer;
    border: 1px solid #000;
    font-family: "Helvetica Neue",Helvetica,sans;
    color: #fff;
    padding: 8px;
    background-color: #000!important;
    background:-webkit-linear-gradient(0deg,transparent 50%,#f6f6f6 50%);
    background-size: 320px 25px;
    transition: 0.8s;
}

.rainbowBtn:hover{
    color: #000;
    border: 1px solid #000;
    background-position: 160px 0;
}


.clear-all{
    position: absolute;
    right: auto;
    left:20px;
    top: 191px;
    margin: 0 0 20px 0;
    cursor: pointer;
    border: 1px solid #000;
    font-family: "Helvetica Neue",Helvetica,sans;
    color: #fff;
    padding: 8px;
    background-color: #000!important;
    background:-webkit-linear-gradient(0deg,transparent 50%,#f6f6f6 50%);
    background-size: 210px 25px;
    transition: 0.8s;
}

.clear-all:hover{
    color: #000;
    border: 1px solid #000;
    background-position: 105px 0;
}

/*TASKS SLAYED*/

.previous-tasks{
    margin-top: 60px;
    margin-bottom: 80px;
}

.previous-title{
    font-size: 20px;
    font-family: "Helvetica Neue",Helvetica,sans;
    font-weight: bold;
    margin-bottom: 10px;
    width: fit-content;
}

.clearSlayed{
    margin-top: -42px;
    position: relative;
    float:right;
    cursor: pointer;
    border: 1px solid #000;
    font-family: "Helvetica Neue",Helvetica,sans;
    color: #fff;
    padding: 8px;
    background-color: #000!important;
    background:-webkit-linear-gradient(0deg,transparent 50%,#f6f6f6 50%);
    background-size: 267px 25px;
    transition: 0.8s;
}

.clearSlayed:hover{
    color: #000;
    border: 1px solid #000;
    background-position: 133px 0;
}

.slayedList{
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    list-style:none;
    padding: 0 0 0 5px;
}

.slayedTask{
    line-height: 1;
    font-size: 16px;
    font-family: 'Yantramanav', sans-serif;
}


/*FOOTER*/

footer{
    display: block;
    background-color: #000;
    color: #fff;
    top: auto;
    bottom: 0;
    position: fixed;
    width: 100%;
}

footer p{
    font-family: "Helvetica Neue",Helvetica,sans;
    font-size: 12px;
    text-align: center; 
    margin: 10px 0 0 0; 
}

#thanks-note{
    padding: 0px 0 0 0;
}

#copyright{
    padding: 0px 0 10px 0;
}

.copyright-section{
    display: flex;
    flex-direction: column;
}